<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyText.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71D95EF71E0916EE000B9764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D95F101E0916EF000B9764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71D95F1B1E0916EF000B9764</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
